body,
ul,
li {
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #722f37;
}

header {
    background-color: rgb(0, 0, 0);
    text-align: center;
    position: relative;
    width: 100%;
}

.title {
    color: white;
    width: 100%;
    background-color: #722f37;
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
    font-size:larger;
}

.banner {
    height: 500px;
    overflow: hidden;
}

.banner img {
    margin: -100px -100px -100px -100px;
    width: 90%;
}

.giff {
    position:absolute;
    width:256px;
    height:256px;
    top:100%;
    left:50%;
    margin: -128px 0 0 -128px;
    z-index:1000;  
}

.giff img {  
    position:absolute;
    width:256px;
    height:256px;
    top:100%;
    left:50%;
    margin: -128px 0 0 -128px;
    z-index:1000;
}

.newItem {
    background-color: rgb(0, 0, 0);
    padding: 30px 40px;
    color: white;
    display: flex;
    justify-content: center;
}

.newItem:after {
    content: "";
    display: table;
    clear: both;
}

#newVinho {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 25%;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#newUva {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 25%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

#newAno {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 25%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

#newCategoria {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 25%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

#newFabricante {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 25%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.addBtn {
    padding: 9px 10px;
    background-color: #722f37;
    color: white;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 25px;
    text-shadow:1px -1px #cac1c2
}

.addBtn:hover {
    background-color: #047e12;
    color: white;
    text-shadow:1px -1px #080808
}

.items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: cursive;
}

.close:hover {
    color: #f44336;
    font-weight: bolder;
}

table,
th,
td {
    border: 2px solid #722f37;
    border-collapse: collapse;
    cursor: pointer;
    position:relative;
    padding: 5px 5px 8px 5px;
    font-size: 20px;
    color: #722f37;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.5s;
    text-align:center;
}

table{
    background-color: white;
    width: 100%;
}

tr:nth-child(odd){
    background-color: #ebe9e9;
}

th:nth-child(1){
    width: 20%;
}

tr:hover {
    background: rgb(200, 199, 199);
}

